<footer>
    <div class="container foot-grid">
        <div>
            <h4>Our brand ideas</h4>
            <p>Sed ut imperdiet nisi. Proin condimentum fermentum nunc. Etiam pharetra, erat sed fermentum feugiat,
                velit mauris egestas quam.</p>
        </div>
        <div>
            <h4>You can trust us</h4>
            <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin lorem quis bibendum auctor, nisi elit
                consequat ipsum.</p>
        </div>
        <div>
            <h4>Our offer</h4>
            <ul>
                <li>Vestibulum commodo volutpat convallis ac</li>
                <li>Quisque lorem tortor fringilla sed, vestibulum fend justo</li>
                <li>Cum sociis natoque penatibus et ultrices volutpat</li>
            </ul>
        </div>
    </div>
    <div class="copyright">© 2025 Be IT:Service | All Rights Reserved | Powered by Node.js</div>
</footer>
